


/* ....Typing Animation ... */
.container1{display: inline-block;}
.text{
    font-size: 2em;
    letter-spacing: 1px;
    font-family: monospace;
    border-right: 2px solid ;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(30) infinite, cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50%{
        border-color: transparent;
    }
}
    @keyframes typing {
       10%{width:0}
    }

/*.... home text animation ... */
.home-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    /* position: relative; */
    animation: moveHorizontal 1s linear ;
}

@keyframes moveHorizontal {
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(-100%);
    }
}
/* .........home image animation .....*/
.home-img{
        display: inline-block;
        font-size: 4em;
        animation: pop 2s ease-in-out ;
    }

    @keyframes pop {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
/* ...........................  */
/* @keyframes glow {
    0% { box-shadow: 2px 2px 30px 5px red; }
    10% { box-shadow: 1px 0 20px 12px rgb(204, 0, 255); }
    50% { box-shadow: 1px 0 20px 12px blue; }
    80% { box-shadow: 1px 0 20px 12px rgb(0, 255, 13); }
    100% { box-shadow: 2px 2px 10px 12px red; }
}

.border-rotate-animation{
    width: 250px;
    height: 250px;
    border: 0px solid transparent;
    border-radius: 50%;
    animation: glow 2s infinite alternate;
} */
/* .home-img img{
    border-radius: 50%;
} */

.home-icon,#btn {
    font-size: 2em;
    opacity: 0;
    transform: translateY(100%);
    animation: slideUp 7s forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo{
        transform: scale(1);
        transition: transform 0.3s ease;
      }
      .logo:hover {
        transform: scale(1.1);
      }
